@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts.css");

[lang="en"] {
  font-family: MyFont;
}

[lang="fa"] {
  font-family: Shabnam;
  font-size: 14px;
}

[data-theme="dark"] body {
  background-color: #333;
  color: #fff;
  background-image: url("/public/assets/images/Dark-Bg.svg");
}

[data-theme="dark"] .text-textNav {
  color: #fff;
}

[data-theme="dark"] .text-textNav {
  color: #fff;
}

[data-theme="dark"] .bg-textPrimary {
  background-color: #fff;
}

[data-theme="dark"] footer {
  background-color: #333;
}


.social .icon svg:hover {
  transform: rotate(360deg);
  transition: transform 0.75s;
}

.social .icon.LinkedIn svg:hover {
  transform: rotate(-360deg);
  transition: transform 0.75s;
}

.icon.Btt svg:hover #arrow-1,
.icon.Btt svg:hover #arrow-2 {
  animation: arrowUp 1s infinite;
}

@keyframes arrowUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
