@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts.css");

[lang="en"] {
  font-family: MyFont;
}

[lang="fa"] {
  font-family: Shabnam;
  font-size: 14px;
}

[data-theme="dark"] body {
  background-color: #333;
  color: #fff;
  background-image: url("../public/assets/images/Dark-BG.svg");
}

[data-theme="dark"] .text-textNav {
  color: #fff;
}

[data-theme="dark"] .bg-textPrimary {
  background-color: #fff;
}

[data-theme="dark"] footer,
[data-theme="dark"] .burger-menu {
  background-color: #333;
}

[data-theme="dark"] #Back-To-Top #Ellipse,
[data-theme="dark"] #Back-To-Top #Polygon-2,
[data-theme="dark"] #Back-To-Top #Polygon-2_2 {
  fill: #333;
}

[data-theme="dark"] #Back-To-Top #Line {
  stroke: #333;
}

.social svg:hover {
  transform: rotate(360deg);
  transition: transform 0.75s;
}

.social svg.linkedIn:hover {
  transform: rotate(-360deg);
  transition: transform 0.75s;
}

svg.Btt:hover #arrow-1,
svg.Btt:hover #arrow-2 {
  animation: arrowUp 1s infinite;
}

@keyframes arrowUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
